.header {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0.4em;
	flex: 1 1 30%;
	cursor: pointer;
}

.icon {
	font-size: 2.4rem;
	color: #b39ddb;
}

.title {
	margin: 0 0.2em;
	color: #212121;
}

.search {
	display: flex;
	align-items: center;
	flex: 1 1 70%;
}

.input {
	font-size: 1.2em;
	outline: none;
	flex-basis: 70%;
}

.button {
	font-size: 1.2em;
}
