@value primary, text, makerGrey from '../../common/colors.css';

.header {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0.4em;
	flex: 1 1 30%;
	cursor: pointer;
}

.icon {
	font-size: 2.4rem;
	color: primary;
}

.title {
	margin: 0 0.2em;
	font-weight: 600;
	color: text;
}

.search {
	display: flex;
	align-items: center;
	flex: 1 1 70%;
}

.input {
	font-size: 1.2rem;
	padding: 0.2em 0.4em;
	outline: none;
	border: 1px solid makerGrey;
	flex-basis: 70%;
}

.button {
	width: 3em;
	height: 1.65em;
	font-size: 1.2rem;
	color: text;
	border-top: 1px solid makerGrey;
	border-right: 1px solid makerGrey;
	border-bottom: 1px solid makerGrey;
	border-left: 0;
	background-color: makerLightGrey;
	border-radius: 0 0.2em 0.2em 0;
	cursor: pointer;
}
